nav.drawer-nav {
    background: darken($graysun-gray, 20%);
}


#nav-logo {
    @include margin (20px null null 40px);
}


ul.drawer-menu {
    list-style: none;
}

li.menu-item {
    font-size: 30px;
    display: block;
    text-align: center;
}

li.menu-item a {
    color: white;
}

li.menu-item.active {
    background-color: white;
    color: $graysun-red;
}

li.menu-item a:hover {
    background-color: white;
    display: block;
    color: $graysun-red;
}
